<h1 mat-dialog-title>Please Enter the Customer Details</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Please Include Zipcode" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone Number</mat-label>
    <input matInput placeholder="Mobile Number " />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email Address</mat-label>
    <input matInput placeholder="email id " />
  </mat-form-field>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" mat-dialog-close>
    Add Customer
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
