<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Forgot password!!</h1>
                    <h6>Please enter the registered Email Id</h6>

                </div>
                <form >
                    <form >
                        <div class="mb-3">
                            <label  class="form-label">Email:</label>
                            <input formControlName="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" required pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
                          <div id="emailHelp" class="form-text">Please enter the Registered Email.id:</div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mb-2">Send</button>
                         <div class="loader" ></div>
                    </form>
                </form>
                <ng-template #showSuccess>
                    <div class="text-center">
                      <h1 class="text-gray-900 mb-2">Email's been successfully sent!</h1>
                      <p class="mb-4">
                        Wonderful! An email with password reset instructions has been sent to the current address.
                        Please, check your inbox and follow the instructions to reset your password.</p>
                      <hr>
                    </div>
                  </ng-template>
            </div>
        </div>
    </div>
</div>
