<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="supplier-table">Supplier</a>
      <a mat-list-item routerLink="customer-table">Customer</a>
      <a mat-list-item >Company</a>
      <a mat-list-item routerLink="#">Settings</a>
      <a mat-list-item routerLink="#">About</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color= "primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><mat-icon><span class="material-icons-outlined">
        inventory_2
        </span></mat-icon> My Inventory</span>
        <div class="spacer">
        
        </div>
        <a mat-button routerLink="home" >Home</a>
        <a mat-button>About</a>
        <a mat-raised-button color="accent">Sign up</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
       
<!-- <div fxLayout="row" fxLayoutAlign="space-around center" > -->
  <!-- <mat-grid-list cols="4" >
    <mat-grid-tile>
      
      <mat-card class="card">
        <img mat-card-image src="../assets/IMG1.jpeg" >
        <mat-card-title>Products</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/service.jpeg" >
        <mat-card-title>Services</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/Reports.jpeg" >
        <mat-card-title>Reports</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card> 
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/orders.png" >
        <mat-card-title>Orders</mat-card-title>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>  
    </mat-grid-tile>
  </mat-grid-list> -->
    <!-- </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
