
.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .spacer{
    flex: 1 1 auto;
  }
  .card {
    max-width: 200px;
  }
  .card:hover{
    box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.258)!important;
  }