<mat-grid-list cols="4" >
    <mat-grid-tile>
      
      <mat-card class="card">
        <img mat-card-image src="../assets/IMG1.jpeg" >
        <mat-card-title >Products</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/service.jpeg" >
        <mat-card-title>Services</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/Reports.jpeg" >
        <mat-card-title>Reports</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card> 
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/orders.png" >
        <mat-card-title>Orders</mat-card-title>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>  
    </mat-grid-tile>
  </mat-grid-list>
  
  