<div class="supplier-container">
  <div class="supplier-nav">
    <a>
     </a> 
    <button type="button" mat-raised-button color="primary">
      Add Supplier
    </button>
    <button type="button" mat-raised-button color="primary">
      Delete Supplier
    </button>
    <button type="button" mat-raised-button color="primary">
      Edit Supplier
    </button>
  </div>
  <table mat-table [dataSource]="datasource">
    <!-- Supplier Id Column -->
    <ng-container matColumnDef="supplierId">
      <th mat-header-cell *matHeaderCellDef>Supplier No.</th>
      <td mat-cell *matCellDef="let element">{{ element.supplierId }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Fax Column -->
    <ng-container matColumnDef="fax">
      <th mat-header-cell *matHeaderCellDef>Fax</th>
      <td mat-cell *matCellDef="let element">{{ element.fax }}</td>
    </ng-container>

    <!-- Other Details Column -->
    <ng-container matColumnDef="otherDetails">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><a href="#">view orders</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
